# Comp 521 Fall 2018 Assignment 2
__Assigned__: 20 September 2018  
__Due__: 4 October 2018

In [1]:
# fill in your info here
onyen = "armaan"
collaborators = []

Download and unzip [movies.db.zip](http://gb.cs.unc.edu/~gb/movies.db.zip) to produce a movies.db file in your working folder. This database is about 836 megabytes so some of the queries may take a while, __start early__.  This database has the following schema:
```
Customers (
    cardNo INTEGER PRIMARY KEY,
    first TEXT,
    last TEXT,
    sex CHAR,
    dob DATE
)

Movies (
    movieId INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER
)

Rentals (
    cardNo INTEGER,
    movieId INTEGER,
    date DATE,
    rating INTEGER,
    PRIMARY KEY(cardNo, movieID, date),
    FOREIGN KEY (cardNo) REFERENCES Customers,
    FOREIGN KEY (movieId) REFERENCES Movies
)
```

Write code in the cells below to answer each question.

In [2]:
# setup
import sqlite3
conn = sqlite3.connect('movies.db')
cursor = conn.cursor()

import comp521
check, report = comp521.start('A2')

## 1. Find the following using SQL queries

__1a. How many males customers are there?__

In [3]:
# write your query as a single string here
a1a = """SELECT Count(*) FROM Customers WHERE sex = 'M'"""
# code to execute your query, leave this alone
q1a = cursor.execute(a1a).fetchone()[0]
# print(q1a)
check('1a', q1a, points=10)

1a appears correct

__1b. How many movies were released in either 2004 or 2006?__

In [4]:
a1b = """SELECT Count(*) FROM Movies WHERE year=2004 OR year=2006"""

# test code
q1b = cursor.execute(a1b).fetchone()[0]
# print(q1b)
check('1b', q1b, points=10)

1b appears correct

__1c. What are the first and last names of the oldest customers in alphabetical order by last and first name?__

In [5]:
a1c = """SELECT first,last FROM Customers WHERE dob = (SELECT min(dob) FROM Customers) ORDER BY last,first"""

# test
q1c = cursor.execute(a1c).fetchall()
# print(q1c)
check('1c', q1c, points=10)

1c appears correct

__1d. How many customers were born before January 1st, 1950 (not inclusive)?__

In [6]:
a1d = """SELECT Count(*) from Customers WHERE dob < '1950-01-01'"""

# test
q1d = cursor.execute(a1d).fetchone()[0]
# print(q1d)
check('1d', q1d, points=10)

1d appears correct

__1e. What is the average rating for all movies rented between January 1st 2000, and December 31st 2000 (inclusive)?__

In [7]:
a1e = """SELECT AVG(rating) from Rentals where date < '2001-01-01' and date >= '2000-01-01'"""

# test
q1e = cursor.execute(a1e).fetchone()[0]
# print(q1e)
check('1e', q1e, points=10)

1e appears correct

## 2. Fill in the body of the functions below.

__2a. Fill in code to make this function return a list with the titles of the films released in the given year, sorted alphabetically.__

In [8]:
def f2a(year):
    #your code here
    a2a = """SELECT title from Movies where year = {0} ORDER BY title""".format(year)
#     print(a2a)
    q2a = cursor.execute(a2a).fetchall()
#     print(q1e)
    return [x[0] for x in q2a]

q2a = f2a(1935)
check('2a', q2a, points=10)

2a appears correct

__2b. Write a function that takes a string representing some part of a film title, and returns a list of tuples with the first and last names of customers who rented those films and rated them 3 or higher. Sort this list alphabetically by last name and first names.__

In [9]:
def f2b(title):
    a2b = """SELECT DISTINCT C.first,C.last from Customers C, Rentals R, Movies M
    WHERE title LIKE '%{0}%' and 
    R.rating > 2 and 
    R.movieId = M.movieId and
    C.cardNo = R.cardNo
    ORDER BY c.last, c.first""".format(title)
#     print(a2b)
    q2b = cursor.execute(a2b).fetchall()
#     print(q1e)
    return q2b

q2b = f2b('rash Di')
check('2b', q2b, points=20)

2b appears correct

__2c. Write a function that takes year as input, and returns a list of the titles of the most rented films among the films released that year.__

In [10]:
def f2c(year):
    #your code here
    cursor.execute(""" Drop table if exists tmp_tbl""")
    cursor.execute("""CREATE temp table tmp_tbl AS 
    SELECT M.title as name, count(M.movieID) as rent 
    FROM Movies M, Rentals R
    WHERE M.year = {0} and M.movieId = R.movieId
    GROUP BY M.movieID""".format(year))

    cursor.execute(""" SELECT T1.name from tmp_tbl t1
    WHERE t1.rent = (SELECT max(t2.rent) from tmp_tbl t2)
    """)
    
#     q2c = cursor.execute(a2c+part2).fetchall()

    return [x[0] for x in cursor]


q2c = f2c(2001)
# print(q2c)
check('2c', q2c, points=20)

2c appears correct

# Done!

Now get your report, save, and submit your notebook. I recommend you restart the kernel, and run all, just to be sure things are going to work correctly when I run it.

In [11]:
report(onyen, collaborators)

  Collaborators: []
Report for armaan
  8 of 8 appear correct, 100 of 100 points